<div class="row">
  <%= form_for @invoice, html: { class: 'form-horizontal' } do |f| %>
    <% if @invoice.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
  
        <ul>
        <% @invoice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="control-group">
      <%= f.label :date, class: 'control-label' %><br>
      <div class="controls">
        <%= f.date_select :date %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :company, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :company %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tax, class: 'control-label' %><br>
      <div class="controls">
        <%= f.text_field :tax %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :employee_id, class: 'control-label' %>
      <div class="controls">
        <%= collection_select( :invoice, :employee_id, Employee.all, :id, :name, {}, { :multiple => false } ) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Status", class: 'control-label' %>
      <div class="controls">
        <%= f.select(:status_type, options_for_select([['PAID', 'PAID'], ['PENDING', 'PENDING']]), { include_blank: true }) %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit 'Submit', class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>