<h1>Listing invoices</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Company</th>
      <th>Tax</th>
      <th>Salesperson</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.date %></td>
        <td><%= invoice.company %></td>
        <td><%= invoice.tax %></td>
        <td><%= invoice.salesperson %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
