<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @purchase.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @purchase.category %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase.quantity %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @purchase.invoice %>
</p>

