<!DOCTYPE html>
<html>
<head>
  <title>Enterpriseape</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Home", root_path %>
<%= link_to "About Us", welcome_about_path %>
<%= link_to "Contact", welcome_contact_path %>
<%= link_to "Features", welcome_features_path %>
<%= link_to "FAQs", welcome_faq_path %>
<%= link_to "Pricing", welcome_pricing_path %>
<%= link_to "Invoices", invoices_path %>
<%= link_to "Login", root_path %>
  
  <%= yield %>

</body>
</html>
